.tw-followCard {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    justify-content: space-between;
}

.tw-followCard-header {
    display: flex;
    align-items: center;
    gap: 4px;
}

.tw-followCard-user {
    display: flex;
    flex-direction: column;
}

.tw-followCard-userName {
    opacity: .6;
}

.tw-followCard-image {
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}

.tw-followCard-followButton {
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #000;
    transition: .3s ease background-color;
}

.tw-followCard-followButton.is-following {
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    width: 120px;
}

.tw-followCard-followButton.is-following:hover {
    background-color: rgba(237, 69, 69, 0.2);
    color: rgb(191, 20, 20);
    border: 1px solid rgb(191, 20, 20);
    transition: .3s ease all;
}

.tw-followCard-follow {
    display: block;
}

.tw-followCard-followButton.is-following:hover .tw-followCard-follow {
    display: none;
}

.tw-followCard-followButton.is-following:hover .tw-followCard-stopFollow {
    display: block;
}

.tw-followCard-followButton:hover {
    opacity: .7;
}

.tw-followCard-stopFollow {
    display: none;
}

